  </main>

  <footer class="footer">
    <div class="container footer-wrap">
      <p>AlzaWare Graduation Project Documentation Website</p>
      <p>Website Developed by Mohamed Ashraf</p>
    </div>
  </footer>

  <script src="/script.js"></script>
</body>
</html>
